.standings-heading {
    font-size: 3rem;
}

.btn-stop {
    height: 24px;
}

.team-data {
    border-collapse: collapse;

    th,
    td {
        padding: 8px;
        border: 2px solid #ddd;
    }

    h1 {
        font-size: 1.8rem;
    }
    
    .time{
        display: block;
        width: 100px;
    }
}
