.wrapper {
    width: 64px;
    height: 32px;
    font-size: 1.7rem;
    color: var(--black-color);
    border-radius: var(--global-border-radius);

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    + .wrapper {
        margin-left: 8px;
    }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
        background-color: var(--secondary-color);
    }
}

.disabled {
    background-color: var(--primary-color);
    opacity: 0.6;

    &:hover {
        cursor: default;
        opacity: 0.6;
    }
}
