.wrapper {
    --default-cell-padding: 4px 8px;
    border-radius: var(--global-border-radius);
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 4px;
    h1 {
        font-size: 1.8rem;
        display: flex;
    }
    .heading {
        border-bottom: 1px solid var(--grey-color);
        display: flex;
        justify-content: center;
        font-size: 3.2rem;
        padding: 0;
    }
}

.chooser {
    display: flex;
    padding: 4px;
    .options {
        color: var(--primary-color);
        outline: none;
        margin-left: 4px;
        border: 1px solid var(--primary-color);
        border-radius: var(--global-border-radius);
    }
}

.records {
    width: 100%;
    display: flex;
    border: 1px solid var(--primary-color);
    .col-label {
        font-size: 1.8rem;
    }
    .col-1 {
        width: 60px;
    }
    .col-2 {
        width: 220px;
    }
    .col-3 {
        width: 160px;
    }

    .cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--primary-color);
        padding: 4px;
        height: 40px;
    }
}

.inner {
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    border-radius: var(--global-border-radius);
}
.time {
    justify-content: center;
    padding: var(--default-cell-padding);
    width: 100%;
    display: flex;
    h1,
    h2,
    h3 {
        display: block;
        width: 72px;
    }
}
.header {
    display: flex;
}

.header-team,
.cell-team {
    border: 1px solid var(--primary-color);
    padding: var(--default-cell-padding);
    width: 120px;
}
.header-time,
.cell-time {
    display: flex;
    justify-content: space-between;
    width: 180px;
    border: 1px solid var(--primary-color);
    padding: var(--default-cell-padding);
}

.header-team,
.header-time {
    border-top: 2px solid var(--primary-color);
}

.btn-in-cell {
    height: 32px;
    margin-left: 12px;
}
.row {
    display: flex;
}
